* {
  border: 2px solid cornflowerblue;
  margin: 5px;
  padding: 3px;
}

html,
body {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  height: 100vh;
}

header {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  display: flex;
  flex: 1;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 80%;
}

section {
  display: flex;
  flex: 3;
}

article {
  display: flex;
  flex: 1;
}

footer {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

.siteMap {
  display: flex;
  border: none;
}
